{% extends "layout.html" %}
{% block body %}

    <a href="{{ url_for('add')}}" class="btn btn-danger"><i class="fa fa-plus"></i> Add</a>

    <div class="row">
        <div class="col-sm-12 text-muted text-center">
            <span class="slider-num">1</span> / <span>{{ cards|length }}</span>
        </div>
    </div>

    <div id="carousel-slide" class="carousel slide"
         data-ride="carousel"
         data-interval="false"
         data-wrap="false">
        <div class="carousel-inner" role="listbox">
          {% for index in range(cards|length) %}
                <div class="item {{ 'active' if index == 0 else '' }}">
                    <div class="text-danger" style="min-height: 200px;background: #ccc;">
                        {{ cards[index].id }} === {{ cards[index].front }}
                    </div>
                </div>
          {% else %}
                <em>No card to show.</em>
          {% endfor %}
        </div>
    </div>

{% endblock %}
