{% extends "layout.html" %}
{% block body %}

    <div class="page-header">
        <h2>{{ cards|length }} Card{{ '' if (cards|length == 1) else 's' }}</h2>
    </div>

    <a href="{{ url_for('add')}}" class="btn btn-success pull-right">Add</a>

    <br />
    <br />

    <table class="table table-bordered">
        {% for card in cards %}
            <tr>
                <td>
                    <a href="{{ url_for('edit', card_id=card.id) }}" class="btn btn-xs btn-primary"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                </td>
                <td class="cardContent">
                    <h4>
                        {{ card.front }}
                    </h4>
                    {% if card.category_id == 1 %}
                        {{ card.back|replace("\n", "<br />")|safe }}
                    {% else %}
                        <pre><code>{{ card.back|escape }}</code></pre>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td>
                    <em>No cards to show.</em>
                </td>
            </tr>
        {% endfor %}
    </table>




{% endblock %}
