{% extends "layout.html" %}
{% block body %}

    <div class="row">
        <div class="col-xs-12 small">
            <button class="btn btn-xs btn-link addCategory"><i class="fa fa-plus"></i> Add</button>
        </div>
    </div>

    <br />
    <div class="row">
        <table class="table table-striped categoryPanel col-xs-12">
            {% for category in categories %}
                <tr class="categoryItem">
                    <td class="categoryContent text-right">
                        <a href="{{ url_for('cards', category_id=category.eid) }}" class="pull-left">
                            <span class="hidden categoryId">{{ category.eid }}</span>
                            <span class="categoryName">{{ category.name }}</span>
                            <span class="small text-muted">({{ category.count }})</span>
                        </a>

                        <a href="{{ url_for('category_top', category_id=category.eid) }}" class="btn btn-xs btn-link topCategory">
                            <i class="fa {{ 'fa-star' if category.top else 'fa-star-o' }}" aria-hidden="true"></i> Top
                        </a>

                        <button class="btn btn-xs btn-link editCategory">
                            <i class="fa fa-pencil" aria-hidden="true"></i> Edit
                        </button>
                        <a href="#" data-href="{{ url_for('category_delete', category_id=category.eid) }}" class="btn btn-xs btn-link"
                            data-toggle="modal" data-target="#confirm-delete">
                            <i class="fa fa-trash" aria-hidden="true"></i> Delete
                        </a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td>
                        <em>No Category to show.</em>
                    </td>
                </tr>
            {% endfor %}
                <tr class="hidden emptyCategory categoryItem">
                    <td class="categoryContent text-right">
                        <form action="{{ url_for('category_save') }}" method="post">
                            <input type="hidden" class="categoryId" name="id" value="" />
                            <input type="text" class="pull-left categoryName" name="name" placeholder="Category Name" required maxlength="30"/>
                            <button type="submit" class="btn btn-xs btn-link">
                                <i class="fa fa-check" aria-hidden="true"></i> Save
                            </button>
                            <button type="button" class="btn btn-xs btn-link undoCategory">
                                <i class="fa fa-close" aria-hidden="true"></i> Cancel
                            </button>
                        </form>
                    </td>
                </tr>
        </table>
    </div>

    <div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                Delete?
            </div>
            <div class="modal-body">
                Are you sure to delete this Category and all of its cards?
            </div>
            <div class="modal-footer">
                <a class="btn btn-danger btn-ok">Delete</a>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
