<!doctype html>
<html>
<head>
    <title>CS Flash Cards</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type=text/css  href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <link rel="stylesheet" type=text/css  href="{{ url_for('static', filename='font-awesome/css/font-awesome.min.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='highlight-theme-github.css') }}" />
    <script src="{{ url_for('static', filename='highlight.pack.js') }}"></script>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <nav class="navbar navbar-default">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="{{ url_for('index') }}">CS Flash Cards</a>
                    </div>
                    <ul class="nav navbar-nav navbar-right">
                            {% if not session.logged_in %}
                                <li><a href="{{ url_for('login') }}">Login</a></li>
                                <li><a href="{{ url_for('register') }}">Register</a></li>
                            {% else %}
                                <li><a href="{{ url_for('categories') }}">categories</a></li>
                                <li><a href="{{ url_for('cards') }}">cards</a></li>
                                <li><a href="{{ url_for('general') }}">general</a></li>
                                <li><a href="{{ url_for('code') }}">code</a></li>
                                <li><a href="{{ url_for('settings') }}">settings</a></li>
                            {% endif %}
                        </ul>
                </nav>

                {% for message in get_flashed_messages() %}
                    <div class="alert alert-success" role="alert">{{ message }}</div>
                {% endfor %}
                {% block body %}{% endblock %}
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='jquery-2.2.4.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='fastclick.min.js') }}"></script>
    <script src="{{ url_for('static', filename='general.js') }}"></script>
</body>
</html>
