{% extends "layout.html" %}
{% block body %}

    <hr/>

    <div class="row memorizePanel">
        <div class="col-xs-8 col-xs-offset-2">
            <div class="panel panel-default cardFront">
                <div class="panel-body">
                    <div class="alignContainer">
                        <div class="alignMiddle frontText">
                            <h3 class="text-center">{{ card.front }}</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-primary cardBack">
                <div class="panel-body">
                    <div class="alignContainer">
                        <div class="alignMiddle frontText">
                            {% if card.category_id == 1 %}
                                {% if short_answer %}
                                    <div class="text-center largerText">
                                {% endif %}
                                    {{ card.back|replace("\n", "<br />")|safe }}
                                {% if short_answer %}
                                    </div>
                                {% endif %}
                            {% else %}
                                <pre><code>{{ card.back|escape }}</code></pre>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 text-center">
            <a href="{{ url_for('mark_known', card_id=card.id, card_type=card_type) }}" class="btn btn-success btn-lg">
                <i class="fa fa-check"></i>
                I Know It
            </a>
        </div>
    </div>


{% endblock %}
